#SceneScene1 {
	position : absolute;
	left : 0px;
	top : 0px;
    width : 960px;
	height : 540px;
background-color : #ffffff;
	background-image : url('');
}

#SceneScene1 #svecListbox{
	position : absolute;
	left : 2%;
	top : 2%;
	/* height : 90%; */
    width : 20%;
}
#SceneScene1 #svecLabel{
	position : absolute;
	font-size : 10pt;
	color : #000000;
	left : 25%;
	top : 90%;
	height : 10%;
	width : 50%;
}
#SceneScene1 #svecVideo{
	position : absolute;
	
    left : 250px;
	top : 10px;
	height : 80%;
	width : 70%;
}
